.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
_targets/
_targets_r/
*.html
APIscriptRIV.R
Syntax_junior.R
network_analysis.R
propensity_score_matching.R
.here
data/
.Renviron
renv/
renv/settings.json
.Rprofile
README.md

.DS_Store
data/raw/czech_sci_db.sqlite
data/raw/names4api_tagged.tsv
data/raw/supervisors_control_final.csv
data/raw/supervisors.csv
Rplots.pdf
